{% extends 'layout.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block container %}




<!-- Modal -->
<div class="modal fade" id="modal_instrucciones_editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Instrucciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-center font-weight-bold">Siga las siguientes instrucciones para guardar la canción
          correctamente</span> <br><br>
        1) Ingrese el título de la canción en el campo correspondiente <br><br>
        2) Seleccione el Artista <br><br>
        3) para ingresar la url del video, dirijase a youtube.com y busque la canción, luego copia la última parte de la
        url depues del = ejemplo: <br>
        {% load static %}
        <img src="{% static 'images/img_copy_paste.png' %}" alt=""><br>
        posteriormente la pega en el campo correspondiente a (Url del video) <br><br>
        4) Seleccione el tipo de acordes que va a utilizar, por ejemplo: si va a utilizar acordes en formato inglés {C D
        E F G A B} deberá seleccionar la opción (Acordes en inglés) <br> si va a utilizar acordes en formato español {DO
        RE MI FA SOL LA SI} deberá seleccionar la opción (Acordes en español)
        <br><br> 5) Encierre los acordes en llaves ‘{ }’ por ejemplo: <br>
        <pre>
         {A}
Señor mi Dios
                   {D}
Al contemplar los cielos
        {A      Bm       E      A}
El firmamento y las estrellas mil  
          </pre>
      </div>
      <div class="modal-footer">
        <p>Cualquier inquietud puede escribir al correo cancioneroclam@gmail.com</p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>





<div class="container contenedor_vista_cancion">



  <div class="row row-offcanvas row-offcanvas-right" id="content-cancion">



    <div class="col-12 col-md-12" id="pagina">

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal"
        data-target="#modal_instrucciones_editar">
        Instrucciones <i class="fas fa-question-circle"></i>
      </button>

      <form method="POST" action="{% url 'data_song_edit' %}">

        {% csrf_token %}

        <input type="hidden" value="{{cancion.id_himno}}" name="id_cancion">
        <input type="hidden" value="{{pagina_actual}}" name="pagina_actual">

        <!-- Material input -->
        <div class="md-form">
          <input type="text" id="titulo" name="titulo" value="{{cancion.titulo}}" class="form-control" required>
          <label for="titulo">Título</label>
        </div>



        <div class="row align-items-center">
          <div class="col md-form">
            <input type="text" id="tono" name="tono" value="{{cancion.tono}}" class="form-control" required>
            <label for="tono">Tono</label>
          </div>
          <div class="col md-form">
            <input type="text" id="nota" name="nota" value="{{cancion.nota}}" class="form-control" required>
            <label for="nota">Nota</label>
          </div>
          <div class="col md-form">
            <input type="text" id="tipo" name="tipo" value="{{cancion.tipo}}" class="form-control" required>
            <label for="tipo">Tipo</label>
          </div>
          <div class="col md-form">
            <input type="text" id="estado" name="estado" value="{{cancion.estado}}" class="form-control">
            <label for="estado">Estado</label>
          </div>
          <div class="col md-form">
            <input type="text" id="categoria" name="categoria" value="{{cancion.categoria}}" class="form-control">
            <label for="categoria">Categoria</label>
          </div>
        </div>


        <div class="md-form">
          <input type="text" id="autor" name="autor" value="{{cancion.autor}}" class="form-control">
          <label for="autor">Autor</label>
        </div>

        <div class="md-form">

          <span class="prefix" data-toggle="popover" data-placement="left" title="Instrucciones"
            data-content="para ingresar la url del video, dirijase a youtube.com y busque la canción, luego copia la última parte de la url depues del =  Posteriormente la pega en el campo correspondiente a (Url del video)"><i
              class="fas fa-question-circle"></i></span>

          <input type="text" id="urlvideo" name="urlvideo" value="{{cancion.url}}" class="form-control">
          <label for="urlvideo">Url del video</label>
        </div>

        <div class="form-group col-sm-12 col-md-12 col-lg-8">
          <label for="cancion">Escribir canción</label>
          <textarea class="form-control" id="cancion" name="cancion" rows="20"
            style="font-family: 'Georgia'; font-size: 16px; resize: both; z-index: 10000;"
            required>{{cancion.himno}}</textarea>
        </div>


        <button type="submit" class="btn peach-gradient "><i class="fas fa-edit"></i> Editar</button>
        <button type="button" class="btn aqua-gradient " id="boton-cancelar"><i class="fas fa-backspace"></i>
          Cancelar</button>

      </form>

    </div>
    <!--/span-->

    <!--/span-->
  </div>
  <!--/row-->

</div>
<!--/.container-->





{% endblock %}




<!-- Optional JavaScript -->