{% extends 'layout.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block container %}

<div class="container contenedor_vista_cancion">



  <div class="row row-offcanvas row-offcanvas-right" id="content-cancion">



    <div class="col-12 col-md-12" id="pagina">

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal"
        data-target="#modal_instrucciones_editar">
        Instrucciones <i class="fas fa-question-circle"></i>
      </button>

      <form method="POST" action="{% url 'data_song_edit' %}">

        {% csrf_token %}

        <input type="hidden" value="{{cancion.id_himno}}" name="id_cancion">
        <input type="hidden" value="{{pagina_actual}}" name="pagina_actual">

        <!-- Material input -->
        <div class="md-form">
          <input type="text" id="titulo" name="titulo" value="{{cancion.titulo}}" class="form-control" required>
          <label for="titulo">Título</label>
        </div>



        <div class="row align-items-center">
          <div class="col md-form">
            <input type="text" id="tono" name="tono" value="{{cancion.tono}}" class="form-control" required>
            <label for="tono">Tono</label>
          </div>
          <div class="col md-form">
            <input type="text" id="nota" name="nota" value="{{cancion.nota}}" class="form-control" required>
            <label for="nota">Nota</label>
          </div>
          <div class="col md-form">
            <input type="text" id="tipo" name="tipo" value="{{cancion.tipo}}" class="form-control" required>
            <label for="tipo">Tipo</label>
          </div>
          <div class="col md-form">
            <input type="text" id="estado" name="estado" value="{{cancion.estado}}" class="form-control">
            <label for="estado">Estado</label>
          </div>
          <div class="col md-form">
            <input type="text" id="categoria" name="categoria" value="{{cancion.categoria}}" class="form-control">
            <label for="categoria">Categoria</label>
          </div>
        </div>


        <div class="md-form">
          <input type="text" id="autor" name="autor" value="{{cancion.autor}}" class="form-control">
          <label for="autor">Autor</label>
        </div>

        <div class="md-form">

          <span class="prefix" data-toggle="popover" data-placement="left" title="Instrucciones"
            data-content="para ingresar la url del video, dirijase a youtube.com y busque la canción, luego copia la última parte de la url depues del =  Posteriormente la pega en el campo correspondiente a (Url del video)"><i
              class="fas fa-question-circle"></i></span>

          <input type="text" id="urlvideo" name="urlvideo" value="{{cancion.url}}" class="form-control">
          <label for="urlvideo">Url del video</label>
        </div>

        <div class="form-group col-sm-12 col-md-12 col-lg-8">
          <label for="cancion">Escribir canción</label>
          <textarea class="form-control" id="cancion" name="cancion" rows="20"
            style="font-family: 'Georgia'; font-size: 16px; resize: both; z-index: 10000;"
            required>{{cancion.himno}}</textarea>
        </div>


        <button type="submit" class="btn peach-gradient "><i class="fas fa-edit"></i> Editar</button>
        <button type="button" class="btn aqua-gradient " id="boton-cancelar"><i class="fas fa-backspace"></i>
          Cancelar</button>

      </form>

    </div>
    <!--/span-->

    <!--/span-->
  </div>
  <!--/row-->

</div>
<!--/.container-->





{% endblock %}




<!-- Optional JavaScript -->