{% extends 'layout.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block container %}


<div class="container contenedor_vista_cancion">


  <div class="row row-offcanvas row-offcanvas-right" id="content-cancion">

    <h2>{{titulo}}</h2>

    <div class="col-12 col-md-12" id="pagina">

      <form method="POST" action="{% url 'save_song' %}">

        {% csrf_token %}

        <!-- Material input -->
        <div class="md-form">
          <input type="text" id="titulo" name="titulo" value="" class="form-control" required>
          <label for="titulo">Título</label>
        </div>

        <!-- checkbox para tono-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="mayor" name="tono" checked value="mayor">
          <label class="custom-control-label" for="mayor">Mayor</label>
        </div>

        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="menor" name="tono" value="menor">
          <label class="custom-control-label" for="menor">Menor</label>
        </div><br><br>

        <div class="row align-items-center">
          <div class="col md-form">
            <input type="search" id="nota" name="nota" value="" class="form-control" required list="buscador-notas"
              autocomplete="off">
            <label for="nota" class="active">Nota</label>
            <datalist id="buscador-notas">
              {% for nota in notas %}
              <option value="{{nota.nota}}"></option>
              {% endfor %}

            </datalist>
          </div>
          <div class="col md-form">
            <input type="search" id="tipo" name="tipo" value="" class="form-control" required list="buscador-tipos"
              autocomplete="off">
            <label for="tipo" class="active">Tipo</label>
            <datalist id="buscador-tipos">
              {% for tipo in tipos %}
              <option value="{{tipo.tipo}}"></option>
              {% endfor %}

            </datalist>
          </div>
          <div class="col md-form">
            <input type="search" id="categoria" name="categoria" value="" class="form-control" required
              list="buscador-categorias" autocomplete="off">
            <label for="categoria" class="active">Categoria</label>
            <datalist id="buscador-categorias">
              {% for categoria in categorias %}
              <option value="{{categoria.categoria}}"></option>
              {% endfor %}

            </datalist>
          </div>

        </div>

        <div class="md-form">
          <input type="text" id="autor" name="autor" value="{{autor}}" class="form-control">
          <label for="autor">Autor</label>
        </div>

        <div class="md-form">

          <span class="prefix" data-toggle="popover" data-placement="left" title="Instrucciones"
            data-content="para ingresar la url del video, dirijase a youtube.com y busque la canción, luego copia la última parte de la url depues del =  Posteriormente la pega en el campo correspondiente a (Url del video)"><i
              class="fas fa-question-circle"></i></span>

          <input type="text" id="urlvideo" name="urlvideo" value="{{url}}" class="form-control">
          <label for="urlvideo">Url del video</label>
        </div>

        <div class="form-group col-sm-12 col-md-12 col-lg-8">
          <label for="cancion">Escribir canción</label>
          <textarea class="form-control" id="cancion" name="cancion" rows="20"
            style="font-family: 'Georgia'; font-size: 16px; resize: both; z-index: 10000;" required></textarea>
        </div>

    </div>

    <button type="submit" class="btn peach-gradient "><i class="fas fa-save"></i> Guardar</button>

    </form>



  </div>
  <!--/span-->

  <!--/span-->
</div>
<!--/row-->

</div>
<!--/.container-->





{% endblock %}