{% extends 'layout.html' %}

{% load crispy_forms_tags %}

{% block title %} {{titulo}} {% endblock %}

{% block container %}



<div class="container contenedor_pagina">


    {% if formulario_registro.errors  %}
        <div class="alert alert-danger" role="alert">
            {{formulario_registro.errors}}
        </div>
    {% endif %}




    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-sm-12 col-md-3 col-lg-3 sidebar-offcanvas" id="sidebar">

        </div>


        <div class="col-12 col-md-6">


            <!--<div class="row">


                <h1> {{titulo}}</h1>


                {% if formulario_registro.errors  %}
                <div class="alert alert-danger" role="alert">
                    {{formulario_registro.errors}}
                </div>
                {% endif %}


                <form method="POST" actions="" class="formulario_registro_usuarios">

                    {% csrf_token %}

                    {% for field in formulario_registro %}
                    {{field.label}}<br>
                    {{field}}<br>
                    {% endfor %}



                    <br><br>
                    <input type="submit" class="btn btn-primary" value="Registrarse" />


                </form>



            </div>-->


            <!-- Card -->
            <div class="card">

                {% if messages %}
                    {% for message in messages  %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endfor %}
                {% endif %}

                <!-- Card image -->
                <!--<img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                    alt="Card image cap">-->

                <!-- Card content -->
                <div class="card-body">


                    <!--<div class="md-form">
                        <i class="fas fa-user prefix"></i>
                        <input type="text" id="username" class="form-control">
                        <label for="username">Uusario</label>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-signature prefix"></i>
                        <input type="text" id="last_name" class="form-control">
                        <label for="last_name">Nombre</label>
                    </div>

                    
                    <div class="md-form">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="text" id="email" class="form-control">
                        <label for="email">Correo</label>
                    </div>

                   
                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="password1" class="form-control validate">
                        <label for="password1" data-error="wrong" data-success="right">Contraseña</label>
                    </div>

                    
                    <div class="md-form">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="password2" class="form-control validate">
                        <label for="password2" data-error="wrong" data-success="right">Repetir contraseña</label>
                    </div>

                   
                    <button class="btn peach-gradient text-center">Registrarse</button>-->


                    <!-- Default form register -->
                    <form class=" border-light p-5" action="" method="POST">

                        <p class="h4 mb-4 text-center">{{titulo}}</p>


                        {% csrf_token %}

                        <div class="md-form">
                            <i class="fas fa-user prefix"></i>
                            <input type="text" id="username" name="username" class="form-control">
                            <label for="username">Usuario</label>
                        </div>
    
                       
                        <div class="md-form">
                            <i class="fas fa-lock prefix"></i>
                            <input type="password" id="password" name="password" class="form-control validate">
                            <label for="password" data-error="wrong" data-success="right">Contraseña</label>
                        </div>

                        <!-- Sign up button -->
                        <button class="btn peach-gradient my-4 btn-block" type="submit">Iniciar</button><br>

                        <p class="text-center">¿No tienes cuenta? <a href="{% url 'registrar_usuario' %}">Regístrate</a></p>

                    </form>
                    <!-- Default form register -->

                </div>

            </div>
            <!-- Card -->




            <!--/row-->
        </div>
        <!--/span-->

        <div class="col-sm-12 col-md-3 col-lg-3 sidebar-offcanvas" id="sidebar">

        </div>
        <!--/span-->
    </div>
    <!--/row-->




</div>

{% endblock  %}